@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}

body{
    background-image: url(img/images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

img{
   
}